<br>
<div class="container pt5 border-top">
    <div class="container mt-5">

        <div class="row">

            <div class="col-sm-4">
                Địa chỉ: Số 371, đường Nguyễn Kiệm, Quận Gò Vấp, Thành Phố Hồ Chí Minh
                <br>
                Điện thoại: 052 588 8985
            </div>

            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <p class="Fontt">Phòng khám &copy; 2022</p>
            </div>

        </div>
    </div>
    <br>


    <!--LuanChinh-->
    <div class="social-button">
        <div class="social-button-content">
            <!--Phone-->
            <a href="tel:0981481368" class="call-icon" rel="nofollow">
                <i class="fa-solid fa-phone"></i>
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill  "></div>
                <span>Hotline: 098 148 1368</span>
            </a>
            <!--SMS-->
            <a href="sms:0981481368" class="sms">
                <i class="fa-solid fa-comment-sms"></i>
                <span>SMS: 098 148 1368</span>
            </a>
            <!--FaceBook-->
            <a href="https://www.facebook.com/profile.php?id=100021566813698" class="mes">
                <i class="fa-brands fa-facebook"></i>
                <span>Nhắn tin Facebook</span>
            </a>
            <!--Github-->
            <a class="user-support">
                <i class="fa-brands fa-github"></i>
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
            </a>
        </div>
    </div>
</div>
<script>

  $(document).ready(function(){
    $('.user-support').click(function(event) {
      $('.social-button-content').slideToggle();
    });
    });




</script>

