
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>E-commerce Website</h1>
  <p>Duong Huu Thanh &copy; 2022</p>
</div>


<!--LuanChinh-->
<div class="social-button">
    <div class="social-button-content">
                    <!--Phone-->
       <a href="tel:0981481368" class="call-icon" rel="nofollow">
          <i class="fa-solid fa-phone"></i>
          <div class="animated alo-circle"></div>
          <div class="animated alo-circle-fill  "></div>
           <span>Hotline: 098 148 1368</span>
        </a>
                    <!--SMS-->
        <a href="sms:0981481368" class="sms">
          <i class="fa-solid fa-comment-sms"></i>
          <span>SMS: 098 148 1368</span>
        </a>
                    <!--FaceBook-->
        <a href="https://www.facebook.com/profile.php?id=100021566813698" class="mes">
          <i class="fa-brands fa-facebook"></i>
          <span>Nhắn tin Facebook</span>
        </a>
                <!--Github-->
    <a class="user-support">
      <i class="fa-brands fa-github"></i>
      <div class="animated alo-circle"></div>
      <div class="animated alo-circle-fill"></div>
    </a>
  </div>


  <script>
  $(document).ready(function(){
    $('.user-support').click(function(event) {
      $('.social-button-content').slideToggle();
    });
    });
</script>
<!---->