<div>
    <h2 class="text-center" style="color : #0E8D68" > THÔNG TIN ĐĂNG KÝ KHÁM </h2>
    <form method="post" action="/appointment" class="row form-row">
        {% for key,value in user_atb.items() %}

        {% if key == 'gender' %}
        <div class="form-floating mb-3 mt-3 col-sm-6">
            <div class="d-flex p-3">
                <div class="form-check col-sm-4">
                    <input type="radio" class="form-check-input" id="male" name={{key}} value="MALE" checked>
                    <label class="form-check-label" for="male">Nam</label>
                </div>
                <div class="form-check col-sm-4">
                    <input type="radio" class="form-check-input" id="female" name={{key}} value="FEMALE">
                    <label class="form-check-label" for="female">Nữ</label>
                </div>
                <div class="form-check col-sm-4 ">
                    <input type="radio" class="form-check-input" id="other" name={{key}} value="OTHER">
                    <label class="form-check-label" for="other">Khác</label>
                </div>
            </div>
        </div>
        {% elif key == 'birthday' %}
        <div class="mb-3 mt-3 col-sm-6">
            <label for="birthday">{{value}} :</label>
            <input type="date" id="birthday" name="birthday">
        </div>
        {% else %}
        <div class="form-floating mb-3 mt-3 col-sm-6">
            <input type="text" class="form-control" id=user_{{key}} placeholder="Nhập {{value}}" name={{key}} required>
            <label for=user_{{key}}>{{value}}</label>
        </div>
        {% endif %}


        {% endfor %}

            <button type="submit" class="btn btn-primary col-sm-2 rounded-pill">Submit</button>
    </form>

</div>
