<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6 p-3 ">
            <div class="form-group">
                <label for="NameBV">Tên phòng khám: </label>
                <input type="text" class="form-control" id="NameBV">
            </div>
        </div>
        <div class="col-sm-6 p-3 text-right ">
            <span>Địa chỉ: 253/3 Nguyễn Thái Sơn, P3, Gò Vấp</span>
            <br>
            <span>SĐT: (Nhập SDT con cashier)</span>
        </div>
    </div>
</div>
<div class="container">
    <p class="border-top border-2"></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 p-3 ">
            <span>Tên thu ngân/y tá: Nhung</span>
            <br>
            <span>Date: 14/20/2022</span>
            <br>

            <p>SĐT: 55155555</p>
        </div>
        <div class="col-sm-6 p-3 ">
            <span>Loại bán: Mua lẽ</span>
            <br>
            <span>Mã toa thuốc: #1515181</span>
            <br>
            <span>Mã bhyt: </span>
            <br>
        </div>
    </div>

    <div>
        <p class="border-top border-2"></p>
    </div>

    <div class="container mt-3">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên thuốc</th>
                    <th class="text-center">Liều dùng</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Đơn vị</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Thành tiền</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Nguyễn Ngọc Luân</td>
                    <td>Sáng 1 lần, Tối 1 lần</td>
                    <td>
                        <div class="form-group">
                            <label for="SL"></label>
                            <input type="text" class="form" id="SL">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Viên</option>
                                <option>Vĩ</option>
                                <option>Hộp</option>
                            </select>
                        </div>
                    </td>
                    <td>100000</td>
                    <td>500000</td>
                </tr>
                <tr>

                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <h5>THANH TOÁN </h5>
        </div>
        <div class="col-sm-6 p-3 ">
            <span class="text-px">Phường thức thanh toán:</span>
            <br>
            <span>(Tiền mặt/ thẻ ngân hàng)</span>
            <div class="form-group">
                <label for="sel">Chọn phương thức</label>
                <select class="form-control" id="sel">
                    <option>Tiền mặt</option>
                    <option>Thẻ ngân hàng</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 p-3  text-right">
            <span>Tổng cộng: 500000 VND</span>
            <br>
            <span>Bảo hiểm: VND</span>
            <br>
            <span>Tạm tính: 500000 VND</span>
            <br>
            <span>Tổng tiền: 500000 VND</span>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 mt-3 mb-3">
                        <label for="VND">Tiền đưa: 500000</label>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 mb-3">
                        <input type="text" class="form-control" id=VND placeholder="VND" required>
                        <label>VND</label>
                    </div>
                </div>
            </div>
            <span>Tiền thừa: 000 VND</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-grid gap-3 border-2">
        <div class=" text-red">
            <button type="button" class="btn btn-block text-info">THANH TOÁN</button>
        </div>
    </div>
</div>