<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6 p-3 ">
            <div class="form-group">
                <label for="NameBV">Tên phòng khám: </label>
                <input type="text" class="form-control" id="NameBV">
            </div>
        </div>
        <div class="col-sm-6 p-3 text-right ">
            <span>Địa chỉ: 253/3 Nguyễn Thái Sơn, P3, Gò Vấp</span>
            <br>
            <span>SĐT: (Nhập SDT con cashier)</span>
        </div>
    </div>
</div>
<div class="container">
    <p class="border-top border-2"></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 p-3 ">
            <span>Tên thu ngân/y tá: Nhung</span>
            <br>
            <span>Date: (Anh làm hiện ngày nha)</span>
            <br>

            <p>SĐT: SĐT Bệnh nhân</p>
        </div>
        <div class="col-sm-6 p-3 ">
            <span>Loại bán: (Theo đơn/ mua lẽ)</span>
            <br>
            <span>Mã toa thuốc: (anh lấy toa này từ bác sĩ)</span>
            <br>
            <span>Mã bhyt: (này anh cho none/ có điền ko có ko sao cái này tùy anh điều chỉnh nha)</span>
            <br>
        </div>
    </div>

    <div>
        <p class="border-top border-2"></p>
    </div>

    <div class="container mt-3">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên thuốc</th>
                    <th class="text-center">Liều dùng</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Đơn vị</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Thành tiền</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>STT</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>
                        <div class="form-group">
                            <label for="SL"></label>
                            <input type="text" class="form" id="SL">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Viên</option>
                                <option>Vĩ</option>
                                <option>Hộp</option>
                            </select>
                        </div>
                    </td>
                    <td>Doe</td>
                    <td>Doe</td>
                </tr>
                <tr>

                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <h5>THANH TOÁN </h5>
        </div>
        <div class="col-sm-6 p-3 ">
            <span class="text-px">Phường thức thanh toán:</span>
            <br>
            <span>(Tiền mặt/ thẻ ngân hàng)</span>
            <div class="form-group">
                <label for="sel">Chọn phương thức</label>
                <select class="form-control" id="sel">
                    <option>Tiền mặt</option>
                    <option>Thẻ ngân hàng</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 p-3  text-right">
            <span>Tổng cộng: VND</span>
            <br>
            <span>Bảo hiểm: VND</span>
            <br>
            <span>Tạm tính: VND</span>
            <br>
            <span>Tổng tiền: VND</span>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 mt-3 mb-3">
                        <label for="VND">Tiền đưa:</label>
                    </div>
                    <div class="form-floating col-sm-6 mt-3 mb-3">
                        <input type="text" class="form-control" id=VND placeholder="VND" required>
                        <label>VND</label>
                    </div>
                </div>
            </div>
            <span>Tiền thừa: VND</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-grid gap-3 border-2">
        <div class=" text-red">
            <button type="button" class="btn btn-block text-info">THANH TOÁN</button>
        </div>
    </div>
</div>