{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="container">
            <h1 class="Font">1. Ý nghĩa của việc thực hiện khám sức khỏe tổng quát định kỳ hằng năm</h1>
            <h2 class="Font-h2">    Khám tổng quát cơ thể sẽ giúp đánh giá tình trạng sức khỏe chung và chức năng tổng quát của các cơ quan trong cơ thể. Bên cạnh đó còn phát hiện bệnh sớm, tiên lượng được nguy cơ mắc bệnh để có biện pháp bảo vệ sức khỏe, tăng tuổi thọ cho bạn.</h2>
            <h2 class="Font-h2">    Mỗi năm ít nhất 1-2 lần khám sức khỏe tổng quát là giải pháp tốt nhất để phòng chống, phát hiện sớm bệnh tật để có phương pháp điều trị hiệu quả, đảm bảo sức khỏe, tiết kiệm chi phí cho bản thân và gia đình bạn.</h2>

            <h1 class="Font">2. Vì sao cần khám sức khỏe định kỳ?</h1>
            <h2 class="Font-h2">    Khám sức khỏe tổng quát, định kỳ sẽ giúp chúng ta nắm bắt rõ tình trạng sức khỏe của bản thân, phát hiện kịp thời những bệnh lý trong cơ thể trước khi chuyển sang giai đoạn nguy hiểm, từ đó điều trị dứt điểm để cơ thể luôn khỏe mạnh. Ngoài ra, khám sức khỏe định kỳ giúp chúng ta hiểu rõ cơ thể đang cần bổ sung hay hạn chế những gì, có những vấn đề gì cần lưu ý trong sinh hoạt, lối sống để phòng tránh bệnh tật.</h2>
            <h2 class="Font-h2">    Đối tượng áp dụng: Dành cho tất cả mọi đối tượng khách hàng, đáp ứng nhu cầu kiểm tra sức khỏe từ Cơ bản – Nâng cao.</h2>
            <h2 class="Font-h2">    Lưu ý: Trường hợp đặc biệt với Khách hàng là phụ nữ có thai hoặc nghi ngờ có thai, không áp dụng dịch vụ chụp X-Quang khi sử dụng gói sản phẩm.</h2>

        <h1 class="Font">3. Khi nào cần thực hiện khám sức khỏe tổng quát?</h1>
        <h2 class="Font-h2">    Các chuyên gia y tế khuyến cáo, việc khám sức khỏe cần thực hiện định kỳ 6 tháng/lần để bảo vệ sức khỏe toàn diện cho tất cả mọi người. Khám sức khỏe tổng quát, định kỳ sẽ giúp chúng ta nắm bắt rõ tình trạng sức khỏe của bản thân, có những điều chỉnh phù hợp trong thói quen sinh hoạt nhằm phòng bệnh cũng như điều trị bệnh.</h2>
        <h1 class="Font">4. Lợi ích của việc khám sức khóe tổng quát khi đến với phòng khám!</h1>
        <h2 class="Font-h2">– Khám sức khỏe tổng quát tại Phòng Khám Đa Khoa Diamond giúp bạn phát hiện sớm nhiều căn bệnh nguy hiểm, diễn biến âm thầm trong cơ thể.</h2>
        <h2 class="Font-h2">– Phát hiện sớm các bệnh cấp tính: sốt, nhiễm trùng, viêm dạ dày cấp, viêm gan cấp, đái tháo đường,…</h2>
        <h2 class="Font-h2">– Kiểm tra và áp dụng phác đồ điều trị bệnh mãn tính: tăng huyết áp, tiểu đường, viêm phế quản mạn tính, viêm đa khớp thoái hóa cột sống cổ, thoái hóa cột sống lưng, thiếu máu,…</h2>
        <h2 class="Font-h2">– Loại bỏ sớm các căn bệnh nguy hiểm, giúp bảo vệ sức khỏe cho cộng đồng.</h2>

        <h1 class="Font">5. Cần khám những gì khi đi khám sức khỏe phòng khám?</h1>
        <h2 class="Font-h2">    Để khám sức khỏe định kỳ hiệu quả, cần có danh mục khám khoa học, phù hợp với tình trạng của bản thân. Tại Phòng Khám Đa Khoa Diamond, hội đồng chuyên môn cùng với các chuyên gia hàng đầu trong lĩnh vực khám sàng lọc đã thiết kế một cách khoa học các gói khám với những danh mục phù hợp cho nhiều nhóm người bệnh khác nhau.</h2>
        <h2 class="Font-h2">    Để khám sức khỏe định kỳ hiệu quả, cần có danh mục khám khoa học, phù hợp với tình trạng của bản thân. Tại Phòng Khám Đa Khoa Diamond, hội đồng chuyên môn cùng với các chuyên gia hàng đầu trong lĩnh vực khám sàng lọc đã thiết kế một cách khoa học các gói khám với những danh mục phù hợp cho nhiều nhóm người bệnh khác nhau.</h2>
        </div>
    </div>
</div>
    <img class="img-gE" src="http://ykhoadiamond.com/wp-content/uploads/2022/08/TQ-NU1.jpg" alt="#">


{% endblock %}