{% extends 'layout/base.html' %}

{% block content %}
<div class="table-responsive">
    <form action="">
        <table class="table table-bordered">
            <thead>
            <tr>
                <!--          <th>#</th>-->
                <th>{{user_atb['name']}}</th>
                <th>{{user_atb['birthday']}}</th>
                <th>{{user_atb['gender']}}</th>
                <th>{{user_atb['address']}}</th>
                <th>{{user_atb['CCCD']}}</th>
                <th>{{user_atb['phone']}}</th>
                <th>Thông tin giả</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <!--          <td>1</td>-->
                <td>{{user['name']}}</td>
                <td>{{user['birthday']}}</td>
                <td>{{user['gender'].name}}</td>
                <td>{{user['address']}}</td>
                <td>{{user['CCCD']}}</td>
                <td>{{user['phone']}}</td>
                <td>
                    <input type="checkbox" class="form-check-input mx-auto " id="check2" name="data_fake"}
                           value={{user['id']}}>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary float-end rounded-pill">Tạo danh sách</button>
    </form>
</div>
{% endblock %}