{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container mt-5">
        <div class="row">
            <div>

                <img class="float-start img2" src="https://www.w3schools.com/bootstrap5/paris.jpg">
                <div class="row">

                    <h3 class="centerr Font">PHÒNG KHÁM BỆNH ......</h3>
                    <p class="Font-price"> Với phương châm “Bệnh nhân là thân nhân”, Y khoa ...... luôn tiên phong đi
                        đầu trong việc nâng cao
                        chất lượng dịch vụ và điều trị nhằm mang đến cho bệnh nhân sự thoải mái, tin cậy và tiện ích.
                        Bên
                        cạnh đó, Trung tâm Y khoa Diamond luôn có những đóng góp thiết thực cho cộng đồng. Điển hình,
                        chương
                        trình “Vì sự cân bằng cuộc sống” đã mang đến hàng triệu cơ hội tầm soát căn bệnh ung thư cho cả
                        nam
                        và nữ trên khắp mọi miền đất nước. Đây cũng chính là lời tri ân chân thành nhất từ Trung tâm Y
                        khoa
                        ...... gửi đến Quý khách hàng thân thiết. Kính chúc quý khách hàng thật nhiều sức khỏe!
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h5>KHÁM SỨC KHỎE ĐỊNH KỲ</h5>
            <p>Gói cơ bản – 1.805.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
        </div>
        <div class="col-sm-4">
            <h5>KHÁM SỨC KHỎE CHUYÊN KHOA</h5>
            <p>Gói cơ bản – 1.805.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
        </div>
        <div class="col-sm-4">
            <h5>CHẨN ĐOÁN & XÉT NGHIỆM</h5>
            <p>Gói cơ bản – 1.805.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
            <p>Gói Nâng Cao – 3.185.000</p>
        </div>
    </div>
</div>
{% endblock %}