<div class="table-responsive">
    <form action="/apms/create" method="post" class="mb-3 mt-3">
        {% set idx = namespace(c = 1) %}
        <div class=" ">
            <div class="modal" id="creatApmModal">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content ">
                        <div class="mb-3 container">
                            <div class="p-3"></div>
                            <div class="col-sm-12 border border-3 d-flex justify-content-center ">DANH SÁCH KHÁM BỆNH
                            </div>
                            <div class="col-sm-12 border border-3 d-flex justify-content-center " id="modal-date"></div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>{{user_atb['name']}}</th>
                                    <th>{{user_atb['gender']}}</th>
                                    <th>Năm sinh</th>
                                    <th>{{user_atb['address']}}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for user in users %}
                                {% if user.legit == True %}
                                <tr>
                                    <td>{{idx.c}}</td>
                                    {% set idx.c = idx.c + 1 %}
                                    <td>{{user['name']}}</td>
                                    <td>{{user['gender'].name}}</td>
                                    <td>{{user['birthday'].year}}</td>
                                    <td>{{user['address']}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="p-3">
                                <button type="button" class="btn btn-danger float-start" data-bs-dismiss="modal">Cancle
                                </button>
                                <!--                        <button type="button" class="">Xác nhận</button>-->
                                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                                        data-bs-target="#confirmModal">Xác nhận
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <label for="date_apm"> Ngày khám :</label>
            <input type="date" id="date_apm" name="date_apm" value={{date}}>
            <label for="patient_amount"> Số lượng :</label>
            <input type="number" class="rounded" name="patient_amount" id="patient_amount" min="0" max={{[idx.c - 1,40]|min}} value={{[idx.c - 1,40]|min}}>
            <button type="button" class="btn btn-sm btn-primary rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#creatApmModal" onclick="set_modal_date()">Tạo danh sách khám
            </button>
        </div>

        <div class="modal" id="confirmModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content  border-2 border-danger ">
                    <div class="p-3 border">
                        <h5 class="d-flex justify-content-center">Đồng ý lập danh sách khám ?</h5>
                        <button type="button" class="btn btn-danger float-start" data-bs-dismiss="modal">Kiểm tra lại
                        </button>
                        <button type="submit" class="btn btn-success float-end" data-bs-toggle="modal">Tiến hành lập
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="/apms" method="post">
        <table class="table table-bordered">
            <thead>
            <tr>
                <!--          <th>#</th>-->
                <th>{{user_atb['name']}}</th>
                <th>{{user_atb['birthday']}}</th>
                <th>{{user_atb['gender']}}</th>
                <th>{{user_atb['address']}}</th>
                <th>{{user_atb['CCCD']}}</th>
                <th>{{user_atb['phone']}}</th>
                <th>Thông tin giả</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            {% if user.legit == True %}
            <tr>
                <!--          <td>1</td>-->
                <td>{{user['name']}}</td>
                <td>{{user['birthday']}}</td>
                <td>{{user['gender'].name}}</td>
                <td>{{user['address']}}</td>
                <td>{{user['CCCD']}}</td>
                <td>{{user['phone']}}</td>
                <td>
                    <input type="checkbox" class="form-check-input mx-auto " name="data_fake" }
                           value={{user['id']}}>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <!--        <button type="submit" class="btn btn-primary float-end rounded-pill">Tạo danh sách</button>-->


        <button type="button" onclick="ab()" class="btn btn-info">Danh sách thông tin nghi vấn</button>

        <table class="table table-bordered" id="tb-non-legit" style="display:none">
            <thead>
            <tr>
                <!--          <th>#</th>-->
                <th>{{user_atb['name']}}</th>
                <th>{{user_atb['birthday']}}</th>
                <th>{{user_atb['gender']}}</th>
                <th>{{user_atb['address']}}</th>
                <th>{{user_atb['CCCD']}}</th>
                <th>{{user_atb['phone']}}</th>
                <th>Xác nhận</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            {% if user.legit == False %}
            <tr>
                <!--          <td>1</td>-->
                <td>{{user['name']}}</td>
                <td>{{user['birthday']}}</td>
                <td>{{user['gender'].name}}</td>
                <td>{{user['address']}}</td>
                <td>{{user['CCCD']}}</td>
                <td>{{user['phone']}}</td>
                <td>
                    <input type="checkbox" class="form-check-input mx-auto " name="data_fake" }
                           value={{user['id']}}>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <!--        <button type="button" class="btn btn-primary float-end rounded-pill">Tạo danh sách khám</button>-->
        <button type="submit" class="btn btn-secondary float-end rounded-pill">Cập nhật danh sách</button>

    </form>

</div>